<h1>Location#index</h1>
<div>
  <div class="div-geolocation-header">緯度</div>
  <div id="latitude">-</div>
  <div class="div-geolocation-header">経度</div>
  <div id="longitude">-</div>
  <div class="div-geolocation-header">移動方向</div>
  <div id="heading">-</div>
  <div class="div-geolocation-header">移動速度</div>
  <div id="speed">-</div>
</div>