<h1>Meet-Monkey</h1>

<hr>

<h3>あなたの情報</h3>
<dl id="owninfo">
  <dt>IPアドレス</dt>
  <dd id="ipaddr">&nbsp;<%= request.remote_ip %></dd>
  <dt>緯度</dt>
  <dd id="lat">&nbsp;</dd>
  <dt>経度</dt>
  <dd id="lng">&nbsp;</dd>
  <dt>誤差(m)</dt>
  <dd id="accLatlng">&nbsp;</dd>
</dl>
<dl id="result"></dl>

<div id='locations'>
  <% @locations.each do |location| %>
    <div class='location'>
      <p><%= location.latitude %> <%= location.longitude %></p>
    </div>
  <% end %>
</div>
