<div id="main_view">
  <div id="owninfo">
    <div class='cf owninfo-top'>
      <h3>あなたの情報</h3>
      <p><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %></p>
    </div>
    <div class="owninfo-left">
      <dl class="owninfo-name">
        <dt>なまえ</dt>
        <dd id="ipaddr"><%= current_user.username %></dd>
      </dl>
      <dl class="owninfo-ip">
        <dt>IPアドレス</dt>
        <dd id="ipaddr"><%= request.remote_ip %></dd>
      </dl>
    </div>
    <div class="owninfo-right">
      <dl class="owninfo-latlng">
        <dt>緯度</dt>
        <dd id="lat"></dd>
        <dt>経度</dt>
        <dd id="lng"></dd>
      </dl>
      <dl class="owninfo-gosa">
        <dt>誤差(m)</dt>
        <dd id="accLatlng"></dd>
      </dl>
    </div>
  </div>
  <dl id="result"></dl>
  
  <div id='locations-outer'>
    <table id='locations'>
      <tr class="locations-title cf">
        <th>なまえ</th>
        <th>緯度</th>
        <th>経度</th>
        <th>あなたとの距離</th>
      </tr>
    </table>
  </div>
</div>
